{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "minify",
      {
        "deadcode": false
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}